.container-messenger {
    height: 100vh;
    padding-top: 58px;
    padding-bottom: 56.8px;
}

.inactive {
    opacity: 0.6;
}

elm-chat-messenger .messenger-display {
    display: none;
}

elm-chat-messenger .container-greeting {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
